<div class="course-card" [ngClass]="cardClasses()">

	<div class="course-title" [ngStyle]="titleStyles()">
		{{ index }}/{{ total }} {{ course.description }}
	</div>

	@if (course.iconUrl) {
		<img width="300" alt="Angular Logo" [src]="course.iconUrl">
	}
	@else {
		<img width="300" alt="Angular Logo" src="assets/empty-image.png">
	}
	<!-- alternative with ternary operator
		<img [src]="course.iconUrl ? course.iconUrl : 'assets/empty-image.png'">
	-->
	<div class="course-description">
		{{ course.longDescription }}
	</div>

	<button (click)="OnClickViewCourse()">
		View Course
	</button>

</div>
